@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
}

aside{
    width: 25%;
    background-color: #5f6d7e;
    padding: 0 0 0 3rem;
    color: white;
    height: 100vh;
    position: fixed;
}

aside > .burger_menu {
    position: absolute;
    font-size: 1.5rem;
    cursor: pointer;
    top: 0%;
    right: 5%;
    margin-top: 1rem;
    display: none;
}

aside > i:hover{
    color: black;
}

.section_wrapper{
    position: absolute;
    right:0;
    top: 0; 
    width: 75%;
}

.img_container > img {
 width: 150px;
 height: 150px;
 border-radius: 50%;
 border: 5px solid white;
 margin: 3rem 3rem 2rem 0;
}

.title_container > h2 {
    margin-bottom: 10px;
}

aside > ul {
    margin: 6rem 0 0 0 ;
}

.ul_mobile{
    position: absolute;
    top: 25.5%;
    left: 0;
    z-index: 2;
    text-align: center;
    background-color: #5f6d7e;
    width: 100%;
    display: none;
    transition: 0.5s all;
    animation-name: example;
    animation-duration: 1s;
}

.burger_menu:hover{
    background-color: rgba(0, 255, 255, 0.705);
    transition: 0.2s all;
}

@keyframes example{
0%{
    top: 5;
}
25%{
    top: 10%;
}
100%{
    top: 11%;
}
}

.show_menu{
    display: block; 
}

aside > ul > li > i {
   margin-right: 20px;
   font-size: 22px;
}

aside > ul > li {
    list-style: none;
    margin: 2rem 0;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
}

.icon_container {
    margin-top: 5rem;
}

.icon_container > i {
    font-size: 1.4rem;
    margin-right: 0.9rem;
    cursor: pointer;
    transition: 0.5s all;
}

.icon_container > i:hover{
    color: rgba(0, 0, 0, 0.514);
}

header {
    background-image: url(https://images.unsplash.com/photo-1470115636492-6d2b56f9146d?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=60&raw_url=true&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fGZvcmVzdHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500);
    height: 95vh;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    object-position: center;
    color: white;
    padding: 20rem 1rem 3rem 10rem;
}

.header_wrapper {
    max-width: 800px;
    padding: 0 1rem ;
}

.header_wrapper > h1 {
    font-size: 2.7rem;
    margin-bottom: 2rem;
}

.header_wrapper > p {
    font-size: 20px;
    max-width: 800px;
}

.about_me{
    margin: 5rem 2rem;
    padding: 0 0 0 1rem;
    color: #5f6d7e;
}

.about_me > img {
    margin: 2rem 0 ;
    border: 5px solid rgba(128, 128, 128, 0.247);
    max-width: 100%;
}

.about_me > p {
    max-width: 800px;
    line-height: 30px;
    border-bottom: 4px solid rgba(128, 128, 128, 0.438);
    padding-bottom: 3rem;
}

.photo_wrapper {
    margin: 1rem 2rem;
    padding: 0 0 0 1rem;
    color: #5f6d7e;
}

.photo_wrapper > p {
    margin: 3rem 0;
    max-width: 800px;
    line-height: 30px;
}

.photo_container {
    border-bottom: 4px solid #80808070;
    padding-bottom: 3rem ;
}

.photo_container > img {
    width: 330px;
    height: 300px;
    object-fit: cover;
    flex-wrap: wrap;
}

.form_wrapper{
    margin: 5rem 2rem;
    padding: 0 0 3rem 1rem;
    color: #5f6d7e;
    border-bottom: 4px solid rgba(128, 128, 128, 0.404); 
}

.form_wrapper > p {
    max-width: 800px;
    margin: 2rem 0;
    line-height: 30px;
}

.form_container > input {
    margin: 2rem 1rem 1rem 0;
    display: block;
    padding: 15px 4rem;
    width: 70%;
    border: 0.5px solid rgba(0, 0, 0, 0.281);
    outline: none;
}

form > textarea {
    width: 70%;
    margin: 3rem 0;
    padding: 10px 2rem;
    border: 1px solid rgba(0, 0, 0, 0.295);
    outline: none;
} 

form > button {
    display: block;
    padding: 1rem;
    background-color: #5f6d7e;
    color: white;
    font-size: 17px;
    border: none;
}

footer {
    text-align: center;
    margin: 0 0 3rem 0;
    width: 100%;
}

footer > p >  span {
    font-size: 18px;
}


@media only screen and (max-width:1000px){
    aside {
        width: 400%;
        top: 0;
        height: 40vh;
        position: static;
    }

    aside > ul {
        display: none;
    }

    aside > .icon_container {
        display: none;
    }

    .img_container {
        display: flex;
        align-items: center;
        position: absolute;
        left: 25%;
    }

    .section_wrapper {
        top: 40%;
        width: 100%;
    }

    header {
        text-align: center;
        padding: 0;
        display: flex;
        align-items: center;
    }

    .photo_container {
        flex-direction: column;
    }

    .photo_container > img {
        width: 100%;
        margin-bottom: 10px;
    }

    form > textarea {
        max-width: 500px;
    }

    .form_container > input {
        width: 80%;
    }

    aside > .burger_menu {
        position: absolute;
        top: 25%;
        left: 30%;
        padding: 1rem;
        width: 40%;
        background-color: rgba(0, 255, 255, 0.267);
        display: block;
    }
}

@media only screen and (max-width:430px){
    .title_container {
        display: none;
    }

    aside > i {
        left: 20%;
        width: 200px;
    }

    form > textarea {
        width: 300px;
    }

    .img_container > img {
        display: none;
    }
}






